<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="MaterialDesignCheckOut.MaterialDesignCheckOut" android:versionCode="1" android:versionName="1.0">
	<uses-sdk />
	<application android:label="MaterialDesignCheckOut" android:theme="@style/MyMaterialTheme">
		<!--<activity
            android:name="MainActivity"
            android:label="Checkout" >
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
        android:name="CustomViewIconTextTabsActivity"
        android:label="Checkout1"
        android:parentActivityName="MainActivity" >
    </activity>-->
	</application>
</manifest>